<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Registro de entradas y salidas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Usuario</label>
    </div>
    
    <div class="mb-3">
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ingrese su nombre de usuario">
    </div>

<div class="row g-3 align-items-center">
    <div class="col-auto">
        <label for="inputPassword6" class="col-form-label">Contraseña</label>
    </div>

    <div class="col-auto">
        <input type="password" id="inputPassword6" class="form-control" aria-labelledby="passwordHelpInline" placeholder="************">
    </div>

    <div class="col-auto">
        <span id="passwordHelpInline" class="form-text">
        </span>
    </div>

    <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Entrar</button>
    </div>
</div>
</div>
</body>
</html>
